<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body class="body">
    <%- include ('partials/header.html') %>
    <%- include ('partials/slider-fullscreen.html') %>
    <div class="shadow"></div>
    <section class="first-part">
        <div class="title-ficha">
            <p>11 DE SEPTIEMBRE DE 1888 AL 1774 - VENDIDO</p>
        </div>
        <div class="container">
            <div class="slideshow">
                <div class="slider" id="slider">
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/01.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/02.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/03.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/04.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/05.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/06.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/07.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/08.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/09.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/10.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/11.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/12.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/13.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/14.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/15.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/16.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/11Septiembre/17.JPG" alt="" class="slider-img">
                    </div>
                </div>
                <button class="slider-btn slider-btn-right">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
                <button class="slider-btn slider-btn-left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
            </div>
        </div>
    </section>
    <div class="container-block">
        <div class="text-block">
            <div class="text-descrip">
                <div class="text-descrip-title">
                    <h3 class="descrip-title"> Descripcion </h3>
                </div>
                <div class="text-descrip-body">
                    <h3 class="body-text-title"> Cómodo semipiso de 4 ambientes al contrafrente con balcón corrido. </h3>
                    <h3 class="body-text">
                        Al ingresar a la unidad de referencia, se encuentra el hall de ingreso que deriva al amplio y funcional living con salida al balcón corrido, desde el living se aprecian dos aberturas, una situada el margen izquierdo y otra en el margen derecho. La del margen izquierdo brinda acceso al espacioso comedor diario, entrada de servicio y cocina completamente equipada con mobiliarios de bajo mesada y alacenas, el espacio de cocina cuenta con salida al balcón internos donde se encuentra el lavadero independiente; mientras que la abertura del margen derecho deriva en un hall de distribución interno que facilita el acceso a los tres cómodos dormitorios con placard incorporado y al baño completo con bañera. 
La unidad se destaca por tener todos sus ambientes con excelente pisos de parquet y aberturas al exterior, lo que brinda una muy buena luminosidad y circulación de aire.
Excelente Ubicación, frente a Barrancas de Belgrano, a doscientos metros de Av. Del Libertador, a doscientos metros de Av. Luis María Campos, a trescientos metros de Av. Juramentos, a seiscientos metros de Av. Cabildo, cercanía a subte “D”, F.C Mitre y gran cantidad de medios de transportes. 
                    </h3>
                </div>
            </div>
        </div>
        <div class="texto-info">
            <div class="all-info">
                <div class="tags">
                    <p class="tag">Venta</p>
                </div>
                <div class="prices">
                    <h3 class="price"> U$S - </h3>
                </div>
                <div class="expenses">
                    <h3 class="expense"> Expensas $ 3.500 - aprox </h3>
                </div>
                <div class="contacs">
                    <a href="">
                        <h3 class="contac"><i class="fa-brands fa-whatsapp"></i> Contacto </h3>
                    </a>
                </div>
                <div class="logos">
                    <div class="logo">
                        <ul class="fa-ul logo-list">
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-maximize"></i></span>Metros
                                totales: 76 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-expand"></i></span>Metros
                                cubiertos: 70 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bed"></i></span> 4 ambientes</li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bath"></i></span> 1 Baño completo </li>
                            <!-- <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-warehouse"></i></span>Cochera </li> -->
                            <li class="logo-list-item"><span class="fa-li">
                                <i class="fa-solid fa-calendar-days"></i></span> 40 Años de antiguedad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="map-container">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.667965668983!2d-58.450804048664985!3d-34.561961362702164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5ce804a3a17%3A0xbde6953f0ba48a6f!2s11%20de%20Septiembre%20de%201888%201774%2C%20C1426%20BKV%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1662325690322!5m2!1ses-419!2sar"                
                class="map" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/fullscreenSlider.js"></script>
    <%- include ('partials/footer.html') %>
</body>
</html>