<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body>
    <%- include ('partials/header.html') %>
    <section class="recommend2" id="ventas">
        <%- include ('partials/filter.html') %>
        <div class="card-div">
            <div class="cards">
                <!-- inicio carta -->
                <div class="card all dpto bel">
                    <a href="/3-de-febrero-alquiler">
                    <div class="card-gral">
                        <div class="card-head">
                            <h1>3 De Febrero AL 1000 DEPARTAMENTO</h1>
                        </div>
                        <div class="card-image">
                            <img src="./img/3DF/01.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h1>ALQUILER TEMPORARIO</h1>
                            <div class="card-text">
                                <h4>2 AMBIENTES</h4>
                                <h4>BALCON</h4>
                                <h4>45 M2</h4>
                                <h4>1 BAÑO</h4>
                                <h4>COCINA INDEPENDIENTE</h4>
                                <h4>MUY LUMINOSO!</h4>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto pal">
                    <a href="/araoz-744-alquiler-dpto3">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>ARAOZ AL 744 3° DEPARTAMENTO</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/Araoz744Dpto3/08.JPG" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER TEMPORARIO</h1>
                                <div class="card-text2">
                                    <h4>-   2 AMBIENTES</h4>
                                    <h4>-   BALCON</h4>
                                    <h4>-   35 M2</h4>
                                    <h4>-   1 BAÑO</h4>
                                    <h4>-   COCINA COMPLETA</h4>
                                    <h4>-   FACILMENTE DIVISIBLE</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto pal">
                    <a href="/araoz-744-alquiler-dpto5">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>ARAOZ AL 744 5° DEPARTAMENTO</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/Araoz744Dpto5/15.jpg" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER TEMPORARIO</h1>
                                <div class="card-text2">
                                    <h4>-   2 AMBIENTES</h4>
                                    <h4>-   BALCON TERRAZA</h4>
                                    <h4>-   35 M2</h4>
                                    <h4>-   1 BAÑO</h4>
                                    <h4>-   COCINA COMPLETA</h4>
                                    <h4>-   SEMIPISO DE REVISTA!</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all garage vc">
                    <a href="/araoz-744-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>ARAOZ AL 750 COCHERA</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/Araoz744Garage/02.JPG" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER TEMPORARIO</h1>
                                <div class="card-text2">
                                    <h4>-   COCHERA</h4>
                                    
                                    <h4>-   12 M2</h4>
                                    <h4>-   SIN EXPENSAS</h4>
                                    <h4>-   CÓMODA COCHERA</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto vc">
                    <a href="/araoz-750-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>ARAOZ 750 MONOAMBIENTE</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/Araoz750Dpto/09.JPG" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER DEPARTAMENTO</h1>
                                <div class="card-text2">
                                    <h4>-   MONOAMBIENTE</h4>
                                    <h4>-   BALCON</h4>
                                    <h4>-   35 M2</h4>
                                    <h4>-   1 BAÑO</h4>
                                    <h4>-   COCINA COMPLETA</h4>
                                    <h4>-   HERMOSO Y AMPLIO</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto pal">
                    <a href="/araoz-1381-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>ARAOZ 1381 DEPARTAMENTO</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/Araoz1381Dpto/21.JPG" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER DEPARTAMENTO</h1>
                                <div class="card-text2">
                                    <h4>-   2 AMBIENTES</h4>
                                    <h4>-   BALCON C/TERRAZA</h4>
                                    <h4>-   90 M2</h4>
                                    <h4>-   1 BAÑO</h4>
                                    <h4>-   COCINA COMPLETA</h4>
                                    <h4>-   HERMOSO DOS AMBIENTES</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto bn">
                    <a href="/av-cordoba-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>AV CORDOBA 1752 DEPARTAMENTO</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/AvCordoba/05.JPG" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER DEPARTAMENTO</h1>
                                <div class="card-text2">
                                    <h4>-   2 AMBIENTES</h4>
                                    <h4>-   37 M2</h4>
                                    <h4>-   1 BAÑO</h4>
                                    <h4>-   COCINA INDEPENDIENTE</h4>
                                    <h4>-   COMODO DEPARTAMENTO</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto vu">
                    <a href="/av-incas-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>AV DE LOS INCAS 4649 DEPARTAMENTO</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/AvIncas/10.JPG" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER DEPARTAMENTO</h1>
                                <div class="card-text2">
                                    <h4>-   2 AMBIENTES</h4>
                                    <h4>-   BALCON FRANCÉS</h4>
                                    <h4>-   38 M2</h4>
                                    <h4>-   1 BAÑO</h4>
                                    <h4>-   COCINA AMPLIA</h4>
                                    <h4>-   MUY LUMINOSO!!!</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto caballito">
                    <a href="/av-diaz-velez-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>AV DIAZ VELEZ 5332 DEPARTAMENTO</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/AvDiazVelez/07.JPG" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER DEPARTAMENTO</h1>
                                <div class="card-text2">
                                    <h4>-   2 AMBIENTES</h4>
                                    <h4>-   BALCON FRANCÉS</h4>
                                    <h4>-   36.6 M2</h4>
                                    <h4>-   1 BAÑO COMPLETO</h4>
                                    <h4>-   COCINA EQUIPADA</h4>
                                    <h4>-   BUENA LUMINOSIDAD Y VENTILACION</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto caballito">
                    <a href="/pueyrredon-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>AV PUEYRREDON 741 DEPARTAMENTO</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/Pueyrredon/07.jpeg" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER TEMPORARIO</h1>
                                <div class="card-text2">
                                    <h4>-   2 AMBIENTES</h4>
                                    <h4>-   BALCON FRANCÉS</h4>
                                    <h4>-   30 M2</h4>
                                    <h4>-   1 BAÑO COMPLETO</h4>
                                    <h4>-   COCINA EQUIPADA</h4>
                                    <h4>-   EXCELENTE UBICACIÓN</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto almagro">
                    <a href="/av-rivadavia-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>AV RIVADAVIA 3446 DEPARTAMENTO</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/AvRivadavia/01.jpeg" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER DEPARTAMENTO</h1>
                                <div class="card-text2">
                                    <h4>-   2 AMBIENTES</h4>
                                    <h4>-   BALCON FRANCÉS</h4>
                                    <h4>-   39.5 M2</h4>
                                    <h4>-   1 BAÑO COMPLETO</h4>
                                    <h4>-   COCINA INDEPENDIENTE</h4>
                                    <h4>-   CÓMODO DOS AMBIENTES</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto almagro">
                    <a href="/av-boedo-10-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>AV BOEDO 10 DEPARTAMENTO</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/AvBoedo/03.JPG" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER DEPARTAMENTO</h1>
                                <div class="card-text2">
                                    <h4>-   3 AMBIENTES</h4>
                                    <h4>-   BALCON CORRIDO</h4>
                                    <h4>-   65 M2</h4>
                                    <h4>-   1 BAÑO COMPLETO</h4>
                                    <h4>-   COCINA INDEPENDIENTE</h4>
                                    <h4>-   BUENA LUMINOSIDAD</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto vc">
                    <a href="/camargo-351-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>CAMARGO 351 SEMIPISO</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/Camargo351/01.JPG" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER DEPARTAMENTO</h1>
                                <div class="card-text2">
                                    <h4>-   2 AMBIENTES</h4>
                                    <h4>-   BALCON CORRIDO</h4>
                                    <h4>-   45 M2</h4>
                                    <h4>-   1 BAÑO COMPLETO</h4>
                                    <h4>-   COCINA INTEGRADA</h4>
                                    <h4>-   AMPLIO LIVING</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto vc">
                    <a href="/camargo-1072-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>CAMARGO 1072 DEPARTAMENTO</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/Camargo1072/02.JPG" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER DEPARTAMENTO</h1>
                                <div class="card-text2">
                                    <h4>-   3 AMBIENTES</h4>
                                    <h4>-   SIN BALCON</h4>
                                    <h4>-   45 M2</h4>
                                    <h4>-   1 BAÑO COMPLETO</h4>
                                    <h4>-   COCINA INTEGRADA</h4>
                                    <h4>-   BUENA LUMINOSIDAD</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto vc">
                    <a href="/castillo-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>CASTILLO 549 DEPARTAMENTO</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/Castillo/11.jpg" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER DEPARTAMENTO</h1>
                                <div class="card-text2">
                                    <h4>-   2 AMBIENTES</h4>
                                    <h4>-   SIN BALCON</h4>
                                    <h4>-   35 M2</h4>
                                    <h4>-   1 BAÑO COMPLETO</h4>
                                    <h4>-   COCINA</h4>
                                    <h4>-   MUY LUMINOSO!!!</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto vc">
                    <a href="/lavalleja-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>LAVALLEJA 945 MONOAMBIENTE</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/Lavalleja/11.jpg" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER DEPARTAMENTO</h1>
                                <div class="card-text2">
                                    <h4>-   MONOAMBIENTE</h4>
                                    <h4>-   BALCON</h4>
                                    <h4>-   47 M2</h4>
                                    <h4>-   1 BAÑO COMPLETO</h4>
                                    <h4>-   COCINA COMPLETA</h4>
                                    <h4>-   LLENO DE SOL!!</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto vp">
                    <a href="/marcos-sastre-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>MARCOS SASTRE 2740 SEMIPISO</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/MarcosSastre/01.jpg" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER DEPARTAMENTO</h1>
                                <div class="card-text2">
                                    <h4>-   3 AMBIENTES</h4>
                                    <h4>-   BALCON</h4>
                                    <h4>-   68 M2</h4>
                                    <h4>-   1 BAÑO COMPLETO</h4>
                                    <h4>-   ESPACIOSA COCINA</h4>
                                    <h4>-   BUENA LUMINOSIDAD</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto flores">
                    <a href="/neuquen-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>NEUQUEN 2573 DEPARTAMENTO</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/Neuquen/01.jpeg" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER DEPARTAMENTO</h1>
                                <div class="card-text2">
                                    <h4>-   2 AMBIENTES</h4>
                                    <h4>-   BALCON</h4>
                                    <h4>-   45 M2</h4>
                                    <h4>-   1 BAÑO COMPLETO</h4>
                                    <h4>-   COCINA INTEGRADA</h4>
                                    <h4>-   MUY LUMINOSO!!!</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- inicio carta -->
                <div class="card all dpto caballito">
                    <a href="/nicolas-repetto-1041-alquiler">
                        <div class="card-gral">
                            <div class="card-head">
                                <h1>NICOLAS REPETTO 1041 MONOAMBIENTE</h1>
                            </div>
                            <div class="card-image">
                                <img src="../public/img/NicolasReppeto1041/06.JPG" alt="">
                            </div>
                            <div class="card-body">
                                <h1>ALQUILER DEPARTAMENTO</h1>
                                <div class="card-text2">
                                    <h4>-   MONOAMBIENTE</h4>
                                    <h4>-   BALCON</h4>
                                    <h4>-   67 M2</h4>
                                    <h4>-   1 BAÑO COMPLETO</h4>
                                    <h4>-   COCINA INTEGRADA</h4>
                                    <h4>-   COMPLEJO CON PISCINA!</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
    </section>
<%- include ('partials/footer.html') %>
    <script src="./js/filter.js"></script>
    <!-- <script src="./assets/js/scroll.js"></script> -->
</body>

</html>