<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body class="body">
    <%- include ('partials/header.html') %>
    <%- include ('partials/slider-fullscreen.html') %>
    <div class="shadow"></div>
    <section class="first-part">
        <div class="title-ficha">
            <p>AMENABAR AL 1528 - VENTA COCHERA</p>
        </div>
        <div class="container">
            <div class="slideshow">
                <div class="slider" id="slider">
                    <div class="slider-section img-link">
                        <img src="./img/Amenabar/01.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Amenabar/02.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Amenabar/03.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Amenabar/04.jpeg" alt="" class="slider-img">
                    </div>
                </div>
                <button class="slider-btn slider-btn-right">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
                <button class="slider-btn slider-btn-left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
            </div>
        </div>
    </section>
    <div class="container-block">
        <div class="text-block">
            <div class="text-descrip">
                <div class="text-descrip-title">
                    <h3 class="descrip-title"> Descripcion </h3>
                </div>
                <div class="text-descrip-body">
                    <h3 class="body-text-title"> ¡¡¡OPORTUNIDAD DE INVERSIÓN!!! SE ACEPTA PERMUTA. </h3>
                    <h3 class="body-text">
                        Cómoda cochera en primer entrepiso.
Fácil acceso, amplio radio para maniobrar. 
Edificio de cocheras con encargado y seguridad las 24hs. 
Muy buen valor de renta mensual. 
Excelente ubicación, a doscientos metros de Av. Cabildo, subte “D” y gran cantidad de medios de transportes. 
                    </h3>
                </div>
            </div>
        </div>
        <div class="texto-info">
            <div class="all-info">
                <div class="tags">
                    <p class="tag">Venta</p>
                </div>
                <div class="prices">
                    <h3 class="price"> U$S 16.000 </h3>
                </div>
                <div class="expenses">
                    <h3 class="expense"> Expensas $ 3.500 </h3>
                </div>
                <div class="contacs">
                    <a href="">
                        <h3 class="contac"><i class="fa-brands fa-whatsapp"></i> Contacto </h3>
                    </a>
                </div>
                <div class="logos">
                    <div class="logo">
                        <ul class="fa-ul logo-list">
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-maximize"></i></span>Metros
                                totales: 12 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-calendar-days"></i></span> 30 años de antiguedad </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="map-container">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.4159966836373!2d-58.45597624866469!3d-34.56833916303921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5d078343443%3A0xf85308692873e975!2sAmen%C3%A1bar%201528%2C%20C1426%20AKD%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1662420049238!5m2!1ses-419!2sar"
                class="map" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/fullscreenSlider.js"></script>
    <%- include ('partials/footer.html') %>
</body>
</html>