<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body class="body">
    <%- include ('partials/header.html') %>
    <%- include ('partials/slider-fullscreen.html') %>
    <div class="shadow"></div>
    <section class="first-part">
        <div class="title-ficha">
            <p>AV INDEPENDENCIA 2030 - VENDIDO</p>
        </div>
        <div class="container">
            <div class="slideshow">
                <div class="slider" id="slider">
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/01.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/02.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/03.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/04.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/05.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/06.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/07.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/08.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/09.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/10.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/11.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/12.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/13.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/14.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/AvIndependencia/15.jpg" alt="" class="slider-img">
                    </div>
                </div>
                <button class="slider-btn slider-btn-right">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
                <button class="slider-btn slider-btn-left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
            </div>
        </div>
    </section>
    <div class="container-block">
        <div class="text-block">
            <div class="text-descrip">
                <div class="text-descrip-title">
                    <h3 class="descrip-title"> Descripcion </h3>
                </div>
                <div class="text-descrip-body">
                    <h3 class="body-text-title"> ¡¡¡OPORTUNIDAD!!! CÓMODO DOS AMBIENTES AL FRENTE CON BALCÓN CORRIDO. </h3>
                    <h3 class="body-text">
                        Los departamentos se encuentran en primer y segundo piso, ambos al frente y se accede por escalera. 
                        La unidad posee un funcional living comedor, dormitorio con placard incorporados, baño completo, cocina con mobiliario de bajo mesada y balcón corrido. Todos los ambientes poseen abertura al exterior lo que brinda una excelente luminosidad y circulación de aire. 
                        Muy buena ubicación, a doscientos metros de Av. Entre Ríos, a cuatrocientos metros de Av. Belgrano,  cuatrocientos metros Av. San Juan, a ochocientos metros de Av. Rivadavia, próximo a Subte “E” - “A” y gran cantidad de medios de transportes.
                    </h3>
                </div>
            </div>
        </div>
        <div class="texto-info">
            <div class="all-info">
                <div class="tags">
                    <p class="tag">Venta</p>
                </div>
                <div class="prices">
                    <h3 class="price"> U$S - </h3>
                </div>
                <div class="expenses">
                    <h3 class="expense"> Expensas $ 5.000 </h3>
                </div>
                <div class="contacs">
                    <a href="">
                        <h3 class="contac"><i class="fa-brands fa-whatsapp"></i> Contacto </h3>
                    </a>
                </div>
                <div class="logos">
                    <div class="logo">
                        <ul class="fa-ul logo-list">
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-maximize"></i></span>Metros
                                totales: 45 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-expand"></i></span>Metros
                                cubiertos: 40 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bed"></i></span> 2 ambientes</li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bath"></i></span> 1 Baño completo</li>
                            <!-- <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-warehouse"></i></span>Cochera </li> -->
                            <li class="logo-list-item"><span class="fa-li">
                                <i class="fa-solid fa-calendar-days"></i></span>- Años de antiguedad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="map-container">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.4322916822593!2d-58.39708674866346!3d-34.6185144656934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccae08f86fbb7%3A0xde6d65324a0826b0!2sAv.%20Independencia%202030%2C%20C1225AAP%20CABA!5e0!3m2!1ses-419!2sar!4v1662318969856!5m2!1ses-419!2sar"
                class="map" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/fullscreenSlider.js"></script>
    <%- include ('partials/footer.html') %>
</body>
</html>