<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body class="body">
    <%- include ('partials/header.html') %>
    <%- include ('partials/slider-fullscreen.html') %>
    <div class="shadow"></div>
    <section class="first-part">
        <div class="title-ficha">
            <p>CHIVILCOY AL 975 - VENDIDO</p>
        </div>
        <div class="container">
            <div class="slideshow">
                <div class="slider" id="slider">
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/01.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/02.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/03.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/04.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/05.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/06.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/07.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/08.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/09.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/10.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/11.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/12.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/13.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/14.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/15.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/16.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/Chivilcoy/17.JPG" alt="" class="slider-img">
                    </div>
                </div>
                <button class="slider-btn slider-btn-right">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
                <button class="slider-btn slider-btn-left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
            </div>
        </div>
    </section>
    <div class="container-block">
        <div class="text-block">
            <div class="text-descrip">
                <div class="text-descrip-title">
                    <h3 class="descrip-title"> Descripcion </h3>
                </div>
                <div class="text-descrip-body">
                    <h3 class="body-text-title"> Hermoso PH de 4 ambientes con terraza, patio y balcón ¡¡¡DE REVISTA!!! </h3>
                    <h3 class="body-text">
                        La unidad comprende un gran living comedor, amplios dormitorios, cómoda cocina comedor diario, baño completo, balcón corrido en el sector del frente, patio al contrafrente e inmejorable terraza de aproximadamente 100 mts2.
La unidad se destaca por sus generosas dimensiones, su excelente estado de conservación y por poseer todos los ambientes con aberturas al exterior.
En el complejo no se abona expensas.
Muy buena ubicación a metros de metro bus, a una cuadra de Av. Gaona, a cuatro cuadras de Av. Avellaneda, a tres cuadras de Av. Segurola, gran cantidad de medios de transportes.
                    </h3>
                </div>
            </div>
        </div>
        <div class="texto-info">
            <div class="all-info">
                <div class="tags">
                    <p class="tag">Venta</p>
                </div>
                <div class="prices">
                    <h3 class="price"> U$S 165.000 </h3>
                </div>
                <div class="expenses">
                    <h3 class="expense"> Sin Expensas </h3>
                </div>
                <div class="contacs">
                    <a href="">
                        <h3 class="contac"><i class="fa-brands fa-whatsapp"></i> Contacto </h3>
                    </a>
                </div>
                <div class="logos">
                    <div class="logo">
                        <ul class="fa-ul logo-list">
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-maximize"></i></span>Metros
                                totales: 202 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-expand"></i></span>Metros
                                cubiertos: 95 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bed"></i></span> 4 ambientes</li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bath"></i></span> 1 Baño completo </li>
                            <li class="logo-list-item"><span class="fa-li">
                                <i class="fa-solid fa-calendar-days"></i></span> 30 Años de antiguedad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="map-container">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.196863272244!2d-58.49108423312869!3d-34.624465103378654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9c1c54ffab7%3A0xa96ee082f064f346!2sAv.%20Chivilcoy%20975%2C%20C1407%20AEQ%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1662326541174!5m2!1ses-419!2sar"                
                class="map" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/fullscreenSlider.js"></script>
    <%- include ('partials/footer.html') %>
</body>
</html>
