<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body class="body">
    <%- include ('partials/header.html') %>
    <%- include ('partials/slider-fullscreen.html') %>
    <div class="shadow"></div>
    <section class="first-part">
        <div class="title-ficha">
            <p>AV. MARIANO ACOSTA AL 432 - SUSPENDIDO</p>
        </div>
        <div class="container">
            <div class="slideshow">
                <div class="slider" id="slider">
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/01.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/02.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/03.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/04.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/05.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/06.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/07.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/08.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/09.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/10.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/11.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/12.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/13.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/14.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/15.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/16.JPG" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/MarianoAcosta/17.JPG" alt="" class="slider-img">
                    </div>
                </div>
                <button class="slider-btn slider-btn-right">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
                <button class="slider-btn slider-btn-left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
            </div>
        </div>
    </section>
    <div class="container-block">
        <div class="text-block">
            <div class="text-descrip">
                <div class="text-descrip-title">
                    <h3 class="descrip-title"> Descripcion </h3>
                </div>
                <div class="text-descrip-body">
                    <h3 class="body-text-title"> Amplia casa de 4 ambientes con patio, terraza, garaje para dos o tres vehículos, dos baños y depósito. </h3>
                    <h3 class="body-text">
                        La misma se desarrolla sobre lote de 8.66mts de frente por 19mts de profundidad.
La finca de referencia se desarrolla en dos plantas. En la planta baja se aprecia el amplio y funcional living comedor, el sector de garaje para dos o tres vehículos, dos cómodos dormitorios, excelente cocina comedor diario completamente equipada con mobiliarios de bajo mesada y alacenas, baño completo con bañera, baño de servicio y patio; mientras que en el primer nivel se encuentra el tercer dormitorio, un cuarto de guardados y la gran terraza. Todos los ambientes cuentan con aberturas al exterior, lo que brinda una excelente luminosidad y circulación de aire.
Excelente ubicación a metros de Av. Directorio, Av. Juan Bautista Alberdi, a cuatrocientos  metros de Av. Rivadavia, a tres cientos metros de Parque Avellaneda y gran cantidad de medios de transportes.
                    </h3>
                </div>
            </div>
        </div>
        <div class="texto-info">
            <div class="all-info">
                <div class="tags">
                    <p class="tag">Venta</p>
                </div>
                <div class="prices">
                    <h3 class="price"> U$S 247.000 </h3>
                </div>
                <div class="expenses">
                    <h3 class="expense"> Sin Expensas </h3>
                </div>
                <div class="contacs">
                    <a href="">
                        <h3 class="contac"><i class="fa-brands fa-whatsapp"></i> Contacto </h3>
                    </a>
                </div>
                <div class="logos">
                    <div class="logo">
                        <ul class="fa-ul logo-list">
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-maximize"></i></span>Metros
                                totales: 453.45 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-expand"></i></span>Metros
                                cubiertos: 177.85 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bed"></i></span> 4 ambientes</li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bath"></i></span> 2 Baño completo </li>
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-warehouse"></i></span>Cochera </li>
                            <li class="logo-list-item"><span class="fa-li">
                                <i class="fa-solid fa-calendar-days"></i></span> 80 Años de antiguedad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="map-container">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.667630750232!2d-58.48169653312617!3d-34.637838604075796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc99b070250f7%3A0x6c693ee392e4e3de!2sAv.%20Mariano%20Acosta%20432%2C%20C1407%20KBJ%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1662327521641!5m2!1ses-419!2sar"                
                class="map" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/fullscreenSlider.js"></script>
    <%- include ('partials/footer.html') %>
</body>
</html>