<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html') %>
<body class="body">
    <%- include ('partials/header.html') %>
    <%- include ('partials/slider-fullscreen.html') %>
    <div class="shadow"></div>
    <section class="first-part">
        <div class="title-ficha">
            <p>RAMÓN L. FALCÓN 1621 - VENDIDO</p>
        </div>
        <div class="container">
            <div class="slideshow">
                <div class="slider" id="slider">
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/01.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/02.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/03.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/04.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/05.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/06.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/07.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/08.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/09.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/10.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/11.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/12.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/13.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/14.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/15.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/16.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/17.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/18.jpg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/19.jpeg" alt="" class="slider-img">
                    </div>
                    <div class="slider-section img-link">
                        <img src="./img/RFalcon/20.jpeg" alt="" class="slider-img">
                    </div>
                </div>
                <button class="slider-btn slider-btn-right">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
                <button class="slider-btn slider-btn-left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
            </div>
        </div>
    </section>
    <div class="container-block">
        <div class="text-block">
            <div class="text-descrip">
                <div class="text-descrip-title">
                    <h3 class="descrip-title"> Descripcion </h3>
                </div>
                <div class="text-descrip-body">
                    <h3 class="body-text-title"> Impecable semipiso de 3 ambientes al frente con balcón, cochera fija cubierta y baulera. </h3>
                    <h3 class="body-text">
                        La unidad consta de un amplísimo living comedor con salida al balcón; cocina completamente equipada con mobiliarios de bajo mesada, alacena, espacio de comedor diario y lavadero integrado; baño completo; dormitorio principal en suite y dormitorio secundario con placard incorporado. Todos los ambientes poseen aberturas al exterior lo que brinda excelente luminosidad y circulación de aire. 
                        Muy buena Ubicación, a cien metros de Av. Rivadavia, a cien metros de Av. Juan Bautista Alberdi, a doscientos metros de Av. Pedro Goyena, a doscientos metros de Av. Carabobo, a cuatrocientos metros de Av. Directorio, doscientos metros de Subta “A” estación Carabobo o Puan y gran cantidad de medios de transportes.                        
                    </h3>
                </div>
            </div>
        </div>
        <div class="texto-info">
            <div class="all-info">
                <div class="tags">
                    <p class="tag">Venta</p>
                </div>
                <div class="prices">
                    <h3 class="price"> U$S - </h3>
                </div>
                <div class="expenses">
                    <h3 class="expense"> Expensas $ 12.000 - aprox </h3>
                </div>
                <div class="contacs">
                    <a href="">
                        <h3 class="contac"><i class="fa-brands fa-whatsapp"></i> Contacto </h3>
                    </a>
                </div>
                <div class="logos">
                    <div class="logo">
                        <ul class="fa-ul logo-list">
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-maximize"></i></span>Metros
                                totales: 63 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-expand"></i></span>Metros
                                cubiertos: 60 m² </li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bed"></i></span> 3 ambientes</li>
                            <li class="logo-list-item"><span class="fa-li"><i class="fa-solid fa-bath"></i></span> 2 Baño completo</li>
                            <!-- <li class="logo-list-item"><span class="fa-li"><i
                                        class="fa-solid fa-warehouse"></i></span>Cochera </li> -->
                            <li class="logo-list-item"><span class="fa-li">
                                <i class="fa-solid fa-calendar-days"></i></span> 10 Años de antiguedad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="map-container">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.138688989582!2d-58.454271848663204!3d-34.62593536608621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca2531c8ca55%3A0xd35562eb9565b6d4!2sCnel.%20Ram%C3%B3n%20L.%20Falc%C3%B3n%201621%2C%20C1406%20GNG%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1662319512282!5m2!1ses-419!2sar"
                class="map" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/fullscreenSlider.js"></script>
    <%- include ('partials/footer.html') %>
</body>
</html>